export COMPOSE_DOCKER_CLI_BUILD=1
export DOCKER_BUILDKIT=1
export COMPOSE_BAKE=1
export QUILT_DIFF_ARGS="--no-timestamps --no-index -p ab --color=auto"
export QUILT_REFRESH_ARGS="--no-timestamps --no-index -p ab"
export QUILT_SERIES_ARGS="--color=auto"
export QUILT_PATCH_OPTS="--unified"
export QUILT_DIFF_OPTS="-p"
export QUILT_PATCHES="../srcbuilder/patches"
